.wrapper
  = render "header"
  .aboutmain
    %main.aboutlist
      .aboutlist-item
        %h1.aboutlist-item-header KStargramとは
        .aboutlist-item-description
          %p 普段着る服、気温によって着る服装をピックアップして記録・共有できるサービスです。
        .aboutlist-item-menu
          .aboutlist-item-menu-list
            .aboutlist-item-menu-list-left
              .aboutlist-item-menu-list-left-icon
                .aboutlist-item-menu-list-left-icon-mark
                  %i.fas.fa-search
                .aboutlist-item-menu-list-left-icon-title 検索機能
            .aboutlist-item-menu-list-right
              %p.aboutlist-item-menu-list-right-description 
                「いつもと違う服装をしたい！」「次のデートの服装どうしよう！」「明日の気温に適した服装はなんだろう？」そんな時は画面上部の検索フォームからキーワード検索をしてみてください。
                また、ユーザー一覧ページからKStargramに登録しているユーザーを検索することができます。気になった人の投稿を見てみましょう！
          .aboutlist-item-menu-list
            .aboutlist-item-menu-list-left
              .aboutlist-item-menu-list-left-icon
                .aboutlist-item-menu-list-left-icon-mark
                  %i.fab.fa-instagram
                .aboutlist-item-menu-list-left-icon-title ファッションの投稿
            .aboutlist-item-menu-list-right
              %p.aboutlist-item-menu-list-right-description 
                KStargramはユーザー登録することでファッションコーディネートを投稿することが出来ます。
                お気に入りのファッション、最近トレンドのファッション等、是非投稿してみてください。
          .aboutlist-item-menu-list
            .aboutlist-item-menu-list-left
              .aboutlist-item-menu-list-left-icon
                .aboutlist-item-menu-list-left-icon-mark
                  %i.fas.fa-users
                .aboutlist-item-menu-list-left-icon-title ユーザーからの反応
            .aboutlist-item-menu-list-right
              %p.aboutlist-item-menu-list-right-description 
                KStargramはユーザー登録することで自由にコメント、いいね、ユーザーのフォローをすることが出来ます。ユーザー登録が完了したら、是非投稿されているコーディネートにいいね、コメントを付けてみましょう。
                いいねした投稿は後から見ることが出来るので気になった投稿があればすぐに閲覧することができます。
          .aboutlist-item-menu-list
            .aboutlist-item-menu-list-left
              .aboutlist-item-menu-list-left-icon
                .aboutlist-item-menu-list-left-icon-mark
                  %i.fas.fa-user
                .aboutlist-item-menu-list-left-icon-title プロフィール設定
            .aboutlist-item-menu-list-right
              %p.aboutlist-item-menu-list-right-description 
                自身の身長やプロフィール画像を設定することで共通点のあるユーザーからいいねやコメントが来やすくなります。是非、プロフィールを設定してみましょう！
  = render "footer"      
-#   .mainsmainss
-#   .about
-#     .about_name
-#       %h2.nametitle KStgramとは
-#       .about_name_description
-#         %p 普段着る服、気温によって着る服装をピックアップして記録・共有できるサービスです。
-#       -# .about_name_shousai
-#       -#   %p ファッションコーディネートアプリです
-#       -# .about_name_shousai1
-#       -#   %p 普段着る服、気温によって着る服装をピックアップして記録・共有できるサービスです。
          
-#       %section
-#         .aboutmenu
-#           .aboutmenu_all
-#             .aboutmenu_all-left
-#               .aboutmenu_all-left-icon 
-#                 .abouticonda
-#                   %i.fas.fa-home
-#                 .aboutmenuran-title  ホームボタン
-#             .aboutmenu_all-right トップページに戻ります
-#         .aboutmenu  
-#           .aboutmenu_all
-#             .aboutmenu_all-left
-#               .aboutmenu_all-left-icon 
-#                 .abouticonda
-#                   %i.fab.fa-instagram
-#                 .aboutmenuran-title  新規登録
-#             .aboutmenu_all-right 投稿ページに遷移します
-#         .aboutmenu  
-#           .aboutmenu_all
-#             .aboutmenu_all-left
-#               .aboutmenu_all-left-icon 
-#                 .abouticonda
-#                   %i.fas.fa-heart
-#                 .aboutmenuran-title  プロフィール画面
-#             .aboutmenu_all-right 投稿ページに遷移します
-#         .aboutmenu  
-#           .aboutmenu_all
-#             .aboutmenu_all-left
-#               .aboutmenu_all-left-icon 
-#                 .abouticonda
-#                   %i.fa.fa-user
-#                 .aboutmenuran-title  ユーザー情報
-#             .aboutmenu_all-right マイページ、KStargram会員一覧、ログアウト、ユーザー設定を行います
-#         .aboutmenu  
-#           .aboutmenu_all
-#             .aboutmenu_all-left
-#               .aboutmenu_all-left-icon 
-#                 .abouticonda
-#                   %i.fas.fa-search
-#                 .aboutmenuran-title  検索
-#             .aboutmenu_all-right 投稿情報を検索します   

  -# =render "footer"