.wrapper 
  =render "header"
  .gbl_main
    .gbl_main_title
      .gbl_main_title_container
        .gbl_main_title_container_titles
          %h1.tit.icon_font
            %span.ico
            %i.fa.fa-users
            %i.stst フォロー中
  .followmain
    %aside.followmain-side
      .followmain-side-user
        .followmain-side-user-image
          =image_tag(@user.image_url)
        .followmain-side-user-users
          %h3.followmain-side-user-users-content
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.name
          %h3.followmain-side-user-users-id
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.usernoid
    %main.followmain-main 
      .followmain-main-content
        .followmain-main-content-header
          %h1 フォロー
        - @user.followings.each do |user|
          %ul.followmain-main-content-list
            %li.followmain-main-content-list-item
              .followmain-main-content-list-item-user-list
                .followmain-main-content-list-item-user-list-img
                  =link_to image_tag(user.image_url),user_path(user)
                .followmain-main-content-list-item-user-list-name
                  .followmain-main-content-list-item-user-list-name-prof
                    .followmain-main-content-list-item-user-list-name-prof-user
                      =link_to user.name, user_path(user)
                    .followmain-main-content-list-item-user-list-name-prof-id
                      =link_to user.usernoid, user_path(user)
                  .followmain-main-content-list-item-user-list-name-follow
  =render "footer"