.useredits{
  width: 100%;
  position: relative;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border-bottom: 1px #ddd solid;
  padding-top: 90px;

  &-line{
  padding: 18px 0 30px 0;
  background: #fff;
  min-height: 210px;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  position: relative;

    &_prof{
      width: 950px;
      margin: 0 auto 0 auto;
      position: relative;
      z-index: 50;
   
        &_main{
        margin: 22px 0 30px 0;
        border: 1px #ddd solid;
        background-color: white;
          &_user{
            width: 900px;
            margin: 0 auto;
            padding: 20px 0 0 20px;
            &_into{
              display: block;
              margin: 0 0 0 0;
              padding: 0 0 0 0;
              h2{
                font-weight: 700;
                font-size: 2em;
                text-align: center;
                margin-bottom: 10px;
                border-bottom: 1px solid #ddd;
              }
                .edit_user{
                text-align: center;
                .editmain{
                  display: flex;
                  justify-content: space-between;
                  &_left{
                    width: 50%;
                    padding: 1em;
                    &_name{
                      text-align: left;
                      label{
                        font-size: 18px;
                      }
                    }
                    &_namemain{
                      margin-bottom: 10px;
                      #user_name{
                        width: 100%;
                      }
                      .editmainname{
                        color: gray;
                        font-size: 14px;
                        text-align: left;
                      }
                    }
                    &_tall{
                      text-align: left;
                      label{
                        font-size: 18px;
                      }
                    }
                    &_tallmain{
                      margin-bottom: 10px;
                      #user_tall{
                        position: relative;
                        display: block;
                        top: -4px;
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 4px;
                        font-size: 13px;
                        border: 1px #ddd solid;
                        padding: 2px 8px 2px 8px;
                        min-height: 30px;
                        outline: none;
                      }
                    }
                    &_sex{
                      text-align: left;
                      label{
                        font-size: 18px;
                      }
                    }
                    &_sexmain{
                      margin-bottom: 10px;
                      #user_sex{
                        position: relative;
                        display: block;
                        top: -4px;
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 4px;
                        font-size: 13px;
                        border: 1px #ddd solid;
                        padding: 2px 8px 2px 8px;
                        min-height: 30px;
                        outline: none;
                     }
                    }
                    &_age{
                      text-align: left;
                      label{
                        font-size: 18px;
                      }
                    }
                    &_agemain{
                      margin-bottom: 10px;
                      #user_age{
                      position: relative;
                      display: block;
                      top: -4px;
                      width: 100%;
                      padding-top: 5px;
                      padding-bottom: 5px;
                      border-radius: 4px;
                      font-size: 13px;
                      border: 1px #ddd solid;
                      padding: 2px 8px 2px 8px;
                      min-height: 30px;
                      outline: none;
                     }
                    }
                    &_profile{
                      text-align: left;
                      label{
                        font-size: 18px;
                      }
                    }
                    &_profilemain{
                      margin-bottom: 10px;
                      #user_profile{
                        position: relative;
                        display: block;
                        top: -4px;
                        width: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 4px;
                        font-size: 13px;
                        border: 1px #ddd solid;
                        padding: 2px 8px 2px 8px;
                        min-height: 150px;
                        outline: none;
                      }
                    }
                  }
                  &_right{
                    width: 40%;
                    padding: 1em;
                    &_form{
                      margin-top: 50px;
                      height: 250px;
                      width: 250px;
                      &_sub{
                        height: 250px;
                        width: 250px;
                        position: relative;
                        border: 1px #f7f7f7 solid;
                        background: #EEEEEE;
                        opacity: 3.0;
                        .icon{
                          margin-top: 120px;
                          display: block;
                        }
                        .icontext{
                          margin: 12px 0 0 0;
                          text-align: center;
                          font-size: 10px;
                          font-weight: bold;
                          color: #ccc;
                        }
                      }
                      &_main{
                        padding: 20px 0 0 0;
                        width: 250px;
                        position: relative;
                        &_ajax{
                          display: none;
                          position: absolute;
                          left: 0;
                          top: 5px;
                          font-size: 13px;
                          color: #FF3B30;
                        }
                        &_file{
                          position: relative;
                          height: 36px;
                          width: 147px;
                          background: #2490d0;
                          overflow: hidden;
                          border: 2px #ddd solid;
                          border-radius: 4px;
                          color: #fff;
                          font-size: 12px;
                          text-align: center;
                          cursor: pointer;
                          margin: 0 auto;
                          .image_form{
                            font-size: 13px;
                            padding: 8px 8px 8px 8px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 2;
                            font-size: 100px;
                            opacity: 0;
                            cursor: pointer;  
                          }
                          .texpic{
                            position: absolute;
                            bottom: -7px;
                            left: 0;
                            width: 147px;
                            height: 32px;
                            font-weight: bold;
                            font-size: 12px;
                            text-align: center;
                            cursor: pointer;
                          }
                        }
                      }
                    
                    }
                  }
                }
                }
              }
            }
          }
        }
      }
  }
  select {
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.2em 3.0em 0.2em 1em;
    margin: 0;      
    box-sizing: border-box;
    height: 30px;
  }