.aboutmain{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 1em;
  .aboutlist{
    flex: 1 1;
    &-item{
      margin: 0 auto;
      padding: 3.2rem;
      &-header{
        font-size: 60px;
        color: #45494Be7;
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Homemade Apple', cursive;
      }
      &-description{
        font-size: 2rem;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto 3em;
        p{
          font-size: 20px;
        }
      }
      &-menu{
        border-top: 3px dashed #C0C0C0;
        border-left: 3px dashed #C0C0C0;
        border-right: 3px dashed #C0C0C0;
        background-color: #fff;
        margin: 0 auto 1em;
        &-list{
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          padding: 1em;
          border-bottom: 3px dashed #C0C0C0;
          &-left{
            flex: 1 1;
            &-icon{
              color: #6A6E71;
              text-align: center;
              font-size: 20px;
              &-mark{
                font-size: 5rem;
                color: #232b33;
                opacity: 0.9;
              }
              &-title{
                color: #73a9ff;
                text-align: center;
              }
            }
          }
          &-right{
            flex: 3 1;
            align-items: center;
            &-description{
              line-height: 2;
              padding: 1.5em;
            }
          }
        }
      }
    }
  }
}

