.log{  
  min-height: 100vh;
  width: 100%;
  padding-top:1px;
  padding-bottom: 1px;
  background-size:100% 100%;
  background-position: center;
  &_in {
    width: 500px;
    background-color: white;
    margin: 8em auto;
    border: 1px solid #ddd;
    &_main{
      padding: 20px 20px 64px;
      h2{
        font-size: 32px;
        padding-left: 32px;
        margin-bottom: 32px;
        padding-bottom: 20px;
        padding-right: 32px;
        text-align: center;
        font-family: 'Homemade Apple', cursive;
        border-bottom: 1px solid #ddd;
      }
      .new_user{
        .log_str_items{
          max-width: 343px;
          margin: 0 auto;
          &_mail{
            display: block;
            width: 100%;
            text-align: center;
            #user_email{
              width: 100%;
              line-height: 48px;
            }
            .sssssss{
              color: gray;
              font-size: 14px;
            }
          }
          &_password{
            display: block;
              width: 100%;
              text-align: center;
            #user_password{
              width: 100%;
              line-height: 48px;
            }
            .sssssss{
              color: gray;
              font-size: 14px;
            }
            }
          &_check{
            display: block;
            width: 100%;
            margin-top: 10px;
          }
          &_button{
            display: block;
            width: 100%;
            text-align: center;
            margin: 16px 0 0;
            input{
              margin: 0 auto;
              font-size: 15px;
              color: #67c5ff;
              border: solid 2px #67c5ff;
              border-radius: 3px;
              transition: .4s;
              width: 100%;
              margin-bottom: 20px;
              height: 48px;
            }
          }
          } 
      }
    }
  }


.new_session_reg{
  background: #fafafa;
  margin: 0 auto;
  height: 48px;
  display: flex;
  align-items: center;

.new_registration{
  text-decoration: none;
  line-height: 40px;
  // border: solid 1px white;
  padding: 0 50px;
  margin: 0 auto;
  font-size: 20px;
  color: #75A9FF;
  text-align: center;
}
}
}

